---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home/Home.astro";
import Career from "../components/Career/Career.astro";
import Projects from "../components/Projects/Projects.astro";

---

<Layout title="Sebastian Roque">
	<main
		class="container right-0 mx-auto my-8 flex flex-col items-center px-5 py-8 md:py-16"
	>
		<Home />
		<Career />
		<Projects />
	</main>
</Layout>
