---
import { Image } from "astro:assets";
import srcBackgroindDiscord from "../../assets/background-dc-image.gif";
import Medals from "../Medals.astro";
import ImageIcon from "../ImageIcon.astro";
import Conocimientos from "../Conocimientos.astro";
import AboutMe from "../AboutMe.astro";
import Saludo from "./Saludo.svelte";

import srcProfile from "../../assets/profile.jpeg";
---

<div class="home flex flex-col md:flex-row items-center md:items-center justify-center md:justify-around w-full" id="home">
    <div class="flex flex-col justify-around lg:h-[700px]">
        <div class="md:w-[400px] h-[300px]">
            <Saludo client:only />
        </div>
    
        <div class="flex my-7 justify-evenly w-full text-bunker-50">
            <a href="https://www.linkedin.com/in/sebastian-roque-neciosup-8b18111a3/" target="_blank" class="flex w-[100px] border border-bg-bunker-50 rounded-md px-2 py-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M8 11l0 5" /><path d="M8 8l0 .01" /><path d="M12 16l0 -5" /><path d="M16 16v-3a2 2 0 0 0 -4 0" /></svg>
                LinkedIn
            </a>
            <a href="https://github.com/symphony701" target="_blank"  class="flex w-[100px] border border-bg-bunker-50 rounded-md px-2 py-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z" stroke-width="0" fill="currentColor" /></svg>
                GitHub
            </a>
        </div>

    </div>
    <div
        
    >
        <div
            id="about"
            class="relative flex flex-col justify-center items-center md:min-w-[450px] drop-shadow-[0_0_0.6rem_#3269eb70] md:w-[400px] rounded-xl bg-bunker-900"
        >
            <div class="w-full h-[140px]">
                <Image
                    src={srcBackgroindDiscord}
                    alt="Background fondo card discord"
                    class="object-cover w-full h-full rounded-t-xl"
                />
            </div>

            <div
                class="left-6 top-36 absolute w-[100px] h-[100px] rounded-full bg-bunker-100 border-4 border-bunker-900 -mt-16"
            >
                <Image
                    class="w-full h-full object-cover rounded-full"
                    src={srcProfile}
                    alt=""
                />
            </div>
            <Medals />
            <div
                class="md:w-[412px] mx-2 md:mx-0 rounded-xl bg-bunker-100 p-4 flex flex-col mb-4"
            >
                <h2 class="text-lg font-semibold">SebRN</h2>
                <span class="text-base font-medium">@armonyrn</span>
                <span class="text-base font-medium text-bunker-500">He/Him</span
                >
                <span class="text-base font-medium text-bunker-500 flex">
                    <ImageIcon
                        zelda="https://cdn.discordapp.com/emojis/809833332438859816.webp?size=44&quality=lossless"
                    />
                     coding on
                    <span class="font-semibold ml-1 text-bunker-950">
                        Android Studio</span
                    >
                </span>
                <div class="w-full h-[1px] bg-bunker-500 my-2"></div>
                <AboutMe />
                <Conocimientos />
                <span class="font-bold mt-3 mb-1">Note</span>
                <span class="text-sm font-[400]"
                    >Website made with Astro and TailwindCSS</span
                >
                <div
                    class="flex items-center min-h-[50px] border rounded-md my-4 px-2"
                >
                    <textarea placeholder="Send a message to me"></textarea>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-send"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path><path d="M10 14l11 -11"></path><path
                            d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"
                        ></path></svg
                    >
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    textarea {
        resize: none;
        height: 99%;
        width: 99%;
        border: none;
        padding: 0.5rem;
        font-size: 0.9rem;
        background: transparent;
    }
    textarea:focus {
        outline: none;
    }
</style>
