---
import ImageIcon from "./ImageIcon.astro";
---

<span class="font-bold">About me</span>
<span class="flex"
    >Software Engineer <ImageIcon
        zelda="https://cdn.discordapp.com/emojis/812474213536628776.gif?size=48&quality=lossless"
    />
</span>
<span class="flex">From <span class="font-semibold ml-1"> Perú</span></span>
<span class="flex"
    >23 years old <span class="font-semibold ml-1">- INFP</span>
</span>

<span class="flex"
    >I love <span class="font-semibold ml-1">Coding</span>, <span
        class="font-semibold ml-1">Gaming</span
    >&nbspand <span class="font-semibold ml-1">Anime</span>
    <ImageIcon
        zelda="https://cdn.discordapp.com/emojis/1178678596886331433.gif?size=48&quality=lossless"
    />
</span>
<span class="font-bold mt-2 mb-1">MEMBER SINCE</span>
<div class="flex items-center">
    <div class="flex items-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-discord-filled"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M14.983 3l.123 .006c2.014 .214 3.527 .672 4.966 1.673a1 1 0 0 1 .371 .488c1.876 5.315 2.373 9.987 1.451 12.28c-1.003 2.005 -2.606 3.553 -4.394 3.553c-.732 0 -1.693 -.968 -2.328 -2.045a21.512 21.512 0 0 0 2.103 -.493a1 1 0 1 0 -.55 -1.924c-3.32 .95 -6.13 .95 -9.45 0a1 1 0 0 0 -.55 1.924c.717 .204 1.416 .37 2.103 .494c-.635 1.075 -1.596 2.044 -2.328 2.044c-1.788 0 -3.391 -1.548 -4.428 -3.629c-.888 -2.217 -.39 -6.89 1.485 -12.204a1 1 0 0 1 .371 -.488c1.439 -1.001 2.952 -1.459 4.966 -1.673a1 1 0 0 1 .935 .435l.063 .107l.651 1.285l.137 -.016a12.97 12.97 0 0 1 2.643 0l.134 .016l.65 -1.284a1 1 0 0 1 .754 -.54l.122 -.009zm-5.983 7a2 2 0 0 0 -1.977 1.697l-.018 .154l-.005 .149l.005 .15a2 2 0 1 0 1.995 -2.15zm6 0a2 2 0 0 0 -1.977 1.697l-.018 .154l-.005 .149l.005 .15a2 2 0 1 0 1.995 -2.15z"
                stroke-width="0"
                fill="currentColor"></path></svg
        >
        <span class="ml-1 font-light text-sm">Oct 13, 2018</span>
    </div>
    <div class="h-1 w-1 mx-2 rounded-full bg-bunker-500"></div>
    <div class="flex">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-map"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 7l6 -3l6 3l6 -3v13l-6 3l-6 -3l-6 3v-13"></path><path
                d="M9 4v13"></path><path d="M15 7v13"></path></svg
        >
        <span class="ml-1 font-light text-sm">Jul 12, 2000</span>
    </div>
</div>
