---
---
<div class="w-full flex justify-end">
    <div
        class="w-[144px] h-[30px] bg-bunker-100 rounded-md my-3 mx-4 flex items-center justify-center"
    >
        <img
            src="https://cdn.discordapp.com/emojis/1097524725464432750.webp?size=44&quality=lossless"
            alt="active-developer"
            draggable="false"
            class="h-[26px] w-[26px] hover:scale-110 transition-all duration-300 ease-in-out"
        />
        <img
            src="https://cdn.discordapp.com/emojis/1097524742686244975.webp?size=44&quality=lossless"
            alt="active-developer"
            draggable="false"
            class="h-[26px] w-[26px] hover:scale-110 transition-all duration-300 ease-in-out"
        />
        <img
            src="https://cdn.discordapp.com/emojis/1097524736101204108.webp?size=44&quality=lossless"
            alt="active-developer"
            draggable="false"
            class="h-[26px] w-[26px] hover:scale-110 transition-all duration-300 ease-in-out"
        />
        <img
            src="https://cdn.discordapp.com/emojis/1112318025182498876.webp?size=44&quality=lossless"
            alt="active-developer"
            draggable="false"
            class=" h-[26px] w-[26px] hover:scale-110 transition-all duration-300 ease-in-out"
        />
        <img
            src="https://cdn.discordapp.com/emojis/1118229890756526170.webp?size=44&quality=lossless"
            alt="active-developer"
            draggable="false"
            class="h-[26px] w-[26px] hover:scale-110 transition-all duration-300 ease-in-out"
        />
    </div>
</div>


