<h2 id="career"
    class="my-10 dark:text-bunker-50 block text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl pt-20"
>
    Career
</h2>

<div class="w-full flex md:justify-center justify-start pl-5">
    <div
    class="career-timeline dark:text-bunker-50 flex flex-col  md:justify-center items-center"
>
    <div class="flex items-center relative">
        <div class="w-5 h-5 mx-4 rounded-full border-2 border-bunker-50"></div>
        <div class="absolute left-14 top-0  md:w-[300px] w-[200px] flex flex-col">
            <span class="text-lg sm:text-xl font-extrabold"
                >Peruvian University of Applied Sciences</span
            >
            <span>Software engineering student</span>
            <span class="text-sm">Aug. - 2019 - Act.</span>
        </div>
    </div>
    <div class="h-28 w-[2px] bg-bunker-50"></div>
    <div class="flex items-center relative">
        <div class="w-5 h-5 mx-4 rounded-full border-2 border-bunker-50"></div>
        <div class="absolute left-14 top-0 md:w-[300px] w-[200px] flex flex-col">
            <span class="text-xl font-extrabold">Cumbra Ingeniería</span>
            <span>Software Engineer Trainee</span>
            <span class="text-sm">Dec. - 2023 - Act.</span>
        </div>
    </div>
</div>
</div>


