---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Mobile developer portfolio - Johnny Miguel Sebastian Roque Neciosup"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
		<title>{title}</title>
	</head>
	<body class="dark">
		<nav>
			<Navbar />
		</nav>
		<slot />
		<footer>
			<Footer />
		</footer>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		font-family: "Cabin", sans-serif;
		scroll-behavior: smooth;
		max-width: 100%;
		overflow-x: hidden;
	}
	body {
		margin: 0;
		padding: 0;
	}
</style>
